@media screen and (min-width: 480px) {

    body {background-color:#000;margin:0;}

}

@media screen and (min-width: 768px) {

    body {background-color:#1f648b;margin:0;}

}

@media screen and (min-width: 1368px) {

    body {background-color:#9BA2AB;margin:0;}

}

@media screen and (min-width: 1680px) {

    body {background-color:#add8e6;margin:0;}

}

@media screen and (min-width: 1920px) {

    body {background-color:#ff6666;margin:0;}

}