
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@media screen and (max-width: 320px) {

  body {background-color:#f0f0f0;}
  nav {background:none;}
  nav a:hover {background:none;}
  .nav > li > a:hover, .nav > li > a:focus{background:none;}
  .jumbotron{background:url('/img/header.png') top center no-repeat;
    background-color:#000;width:100%;height:819px;position:relative;top:-73px;}
  #app.nav{position:relative;background:none;}

  .slogan-a{width:610px;height:100px;font-family:"Comic Sans MS";position:relative;margin:auto;}

}
@media screen and (max-width: 375px) {

  body {background-color:#f0f0f0;}
  nav {background:none;}
  nav a:hover {background:none;}
  .nav > li > a:hover, .nav > li > a:focus{background:none;}
  .jumbotron{background:url('/img/header.png') top center no-repeat;
    background-color:#000;width:100%;height:819px;position:relative;top:-73px;}
  #app.nav{position:relative;background:none;}

  .slogan-a{width:610px;height:100px;font-family:"Comic Sans MS";position:relative;margin:auto;}

}
@media screen and (max-width: 425px) {

  body {background-color:#f0f0f0;}
  nav {background:none;}
  nav a:hover {background:none;}
  .nav > li > a:hover, .nav > li > a:focus{background:none;}
  .jumbotron{background:url('/img/header.png') top center no-repeat;
    background-color:#000;width:100%;height:819px;position:relative;top:-73px;}
  #app.nav{position:relative;background:none;}

  .slogan-a{width:610px;height:100px;font-family:"Comic Sans MS";position:relative;margin:auto;}

}

@media screen and (min-width: 480px) {

  body {background-color:#f0f0f0;}
  nav {background:none;}
  nav a:hover {background:none;}
  .nav > li > a:hover, .nav > li > a:focus{background:none;}
  .jumbotron{background:url('/img/header.png') top center no-repeat;
    background-color:#000;width:100%;height:819px;position:relative;top:-73px;}
  #app.nav{position:relative;background:none;}

  .slogan-a{width:610px;height:100px;font-family:"Comic Sans MS";position:relative;margin:auto;}

}

@media screen and (min-width: 768px) {

  body {background-color:#f0f0f0;}
  nav {background:none;}
  nav>li>a:hover {background:none;}
  .nav > li > a:hover, .nav > li > a:focus{background:none;}
  .jumbotron{background:url('/img/header.png') top center no-repeat;
    background-color:#000;width:100%;height:819px;position:relative;top:-73px;}
  #app.nav{position:relative;background:none;}

  .slogan-a{width:610px;height:100px;font-family:"Comic Sans MS";position:relative;margin:auto;}

}

@media screen and (min-width: 1368px) {

  body {background-color:#f0f0f0;}
  nav {background:none;}
  nav>li>a:hover {background:none;}
  .nav > li > a:hover, .nav > li > a:focus{background:none;}
  .jumbotron{background:url('/img/header.png') top center no-repeat;
    background-color:#000;width:100%;height:819px;position:relative;top:-73px;}

  .slogan-a{width:610px;height:100px;font-family:"Comic Sans MS";position:relative;margin:auto;}

}

@media screen and (min-width: 1680px) {

  body {background-color:#f0f0f0;}
  nav {background:none;}
  nav>li>a:hover {background:none;}
  .nav > li > a:hover, .nav > li > a:focus{background:none;}
  .jumbotron{background:url('/img/header.png') top center no-repeat;
    background-color:#000;width:100%;height:819px;position:relative;top:-73px;}
  #app.nav{position:relative;background:none;}

  .slogan-a{width:610px;height:100px;font-family:"Comic Sans MS";position:relative;margin:auto;}


}

@media screen and (min-width: 1920px) {

  body {background-color:#f0f0f0;}
  nav {background:none;}
  nav>li>a:hover {background:none;}
  .nav > li > a:hover, .nav > li > a:focus{background:none;}
  .jumbotron{background:url('/img/header.png') top center no-repeat;
    background-color:#000;width:100%;height:819px;position:relative;top:-73px;}
  #app.nav{position:relative;background:none;}

  .slogan-a{width:610px;height:100px;font-family:"Comic Sans MS";position:relative;margin:auto;}

}